    /* Home page */
    
    body {
        background-image: url(restaurant.png);
        text-align: center;
    }
    
    .content {
        box-sizing: border-box;
        margin: 200px 300px;
        padding: 0;
    }
    
    h1 {
        color: white;
        font-size: 50px;
        font-family: sans-serif;
        font-weight: 500;
    }
    
    p {
        color: white;
        font-size: 18px;
        font-family: sans-serif;
        font-weight: 400;
        margin-left: 20px;
        margin-right: 20px;
    }
    
    div .button {
        color: black;
        background-color: white;
        font-size: 20px;
        border: solid 2px white;
        border-radius: 25px;
        padding: 20px 60px;
        margin: 5px;
        cursor: pointer;
    }
    
    a {
        color: black;
        text-decoration: none;
    }
    
    a:hover {
        color: black;
        text-decoration: none;
    }